<%= form_with(model: learn_image) do |form| %>
  <% if learn_image.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(learn_image.errors.count, "error") %> prohibited this learn_image from being saved:</h2>

      <ul>
        <% learn_image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :learn_id, style: "display: block" %>
    <%= form.number_field :learn_id %>
  </div>

  <div>
    <%= form.label :learn_image, style: "display: block" %>
    <%= form.number_field :learn_image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
