<%= form_with(model: disscuss_comment) do |form| %>
  <% if disscuss_comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(disscuss_comment.errors.count, "error") %> prohibited this disscuss_comment from being saved:</h2>

      <ul>
        <% disscuss_comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :discuss_id, style: "display: block" %>
    <%= form.number_field :discuss_id %>
  </div>

  <div>
    <%= form.label :discuss_comment, style: "display: block" %>
    <%= form.text_area :discuss_comment %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
