<p style="color: green"><%= notice %></p>

<%= render @disscuss_comment %>

<div>
  <%= link_to "Edit this disscuss comment", edit_disscuss_comment_path(@disscuss_comment) %> |
  <%= link_to "Back to disscuss comments", disscuss_comments_path %>

  <%= button_to "Destroy this disscuss comment", @disscuss_comment, method: :delete %>
</div>
