<div id="<%= dom_id discuss %>">
  <p>
    <strong>Id:</strong>
    <%= discuss.id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= discuss.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= discuss.content %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= discuss.comment %>
  </p>

</div>
