<div id="<%= dom_id learn %>">
  <p>
    <strong>User:</strong>
    <%= learn.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= learn.title %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= learn.article %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= learn.comment %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= learn.image %>
  </p>

  <p>
    <strong>Favorite:</strong>
    <%= learn.favorite %>
  </p>

</div>
